SECRET_KEY='django-insecure-5sv42ux#%6vmsl46_#0095&$muu&^n*4lmo8)ha=rnvlz4pvy='

DB_NAME='user_auth'
DB_USER_NAME='postgres'
DB_PASSWORD='user_auth1234'
DB_HOST='host.docker.internal'
#DB_HOST='0.0.0.0'
DB_PORT='5433'

# REBBITMQ_BROKER_URL='amqp://root:1234@0.0.0.0:5672'
REBBITMQ_BROKER_URL='amqp://root:1234@host.docker.internal:5672'
